<header class="header">
  <div class="header-left">
    <button class="menu-btn">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="view-selector">
      <mat-icon>view_module</mat-icon>
      <span>{{selectedView}}</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </div>
  
  <div class="header-right">
    <button class="create-btn">
      <span>Create</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    
    <button class="icon-btn">
      <mat-icon>launch</mat-icon>
    </button>
    
    <button class="icon-btn" matBadge="1" matBadgeColor="warn" matBadgeSize="small">
      <mat-icon>notifications</mat-icon>
    </button>
    
    <div class="user-profile">
      <div class="avatar">
        <mat-icon>person</mat-icon>
      </div>
      <span class="user-name">admin cloud</span>
    </div>
  </div>
</header>
