<div class="sidebar">
  <div class="logo-container">
    <div class="logo">
      <span class="logo-icon">&#9729;</span>
      <div class="logo-text">
        <span class="logo-title">apachecloudstack</span>
        <span class="logo-subtitle">open source cloud computing</span>
      </div>
    </div>
  </div>

  <nav class="nav-menu">
    @for (item of menuItems; track item.name) {
      @if (item.hasSubmenu) {
        <div class="nav-item" [class.active]="item.expanded" (click)="toggleSubmenu(item)">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span class="nav-text">{{ item.name }}</span>
          <mat-icon class="arrow" [class.rotated]="item.expanded">keyboard_arrow_down</mat-icon>
        </div>
        @if (item.expanded && item.subItems) {
          <div class="submenu">
            @for (subItem of item.subItems; track subItem.name) {
              <a class="submenu-item" [routerLink]="subItem.route" routerLinkActive="active">
                <mat-icon>radio_button_unchecked</mat-icon>
                <span>{{ subItem.name }}</span>
              </a>
            }
          </div>
        }
      } @else {
        <a class="nav-item" [routerLink]="item.route" routerLinkActive="active">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span class="nav-text">{{ item.name }}</span>
        </a>
      }
    }
  </nav>
</div>
